.moduleList{
  border-right: 2px solid black;
  border-top: 2px solid black;
  height: 100vh;
}


.list-group-item.hover{
  background-color: grey;
  outline-color: black;
}

.moduleSelected{
  background-color: gray;
  outline-color: black;

}
.lessonSelected{
  background-color: gray;
  outline-color: black;
}
.list-group-item{
  margin-top: 15px;
  box-shadow: 10px 5px black;
}

.nav-link{
  color: #005cbf;

}
.btn{
  margin-right: 5px;
}
