<div *ngIf='userId != ""' class="container-fluid">
  <h1>Profile</h1>
  <a routerLink="/home"><button class="btn btn-primary">Home</button></a>
  <a class="logout" (click)="logout()"><button class="btn btn-danger linkButton">Logout</button></a>
  <br>
  <label><b>Username</b></label>
  <input type="text" [(ngModel)]="username"
         placeholder="Username"
         class="form-control"
         readonly/>
  <label><b>First Name</b></label>
  <input type="text" [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/>
  <label><b>Last Name</b></label>
  <input type="text"  [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.currentSeats + ' seats remaining'}})
      <a routerLink="/course/{{enrollment.section.courseId}}/section"><button class="btn btn-primary section">Edit Enrollment</button></a>

    </li>
  </ul>




</div>

<div *ngIf='userId == ""' class="container-fluid">
  <h1>Profile</h1>
  <a routerLink="/home"><button class="btn btn-primary">Home</button></a>
  <a routerLink="/login"><button class="btn btn-primary linkButton">Link To Login Page</button></a>
  <br>

  You are Currently Not Logged In! Please log in to see profile.




</div>
