<h2>Course Grid ({{courses.length}})</h2>

<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text"> Created: {{course.created}}</p>
        <a routerLink="/course/{{course.id}}"
           class="btn btn-primary">Course Info</a>
        <a *ngIf='userId !="" && role =="student"' routerLink="/course/{{course.id}}/section"
           class="btn btn-primary linkButton">Enroll</a>
        <a *ngIf='userId !="" && role =="admin"' routerLink="/course/{{course.id}}/section"
           class="btn btn-warning linkButton">Edit Section</a>
      </div>
    </div>
  </div>
</div>
